//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #4DD7BE !default;
$font-family-sans-serif: 'Cascadia Code', 'Montserrat', Helvetica, Arial, serif !default;
$font-family-monospace: 'Cascadia Code', 'Montserrat', Helvetica, Arial, serif !default;