//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: rgb(67, 197, 240) !default;
$font-family-sans-serif: 'Cascadia Code', Helvetica, Arial, serif !default;
$font-family-monospace: 'Cascadia Code', Helvetica, Arial, serif !default;