:root{
    --light-color:rgb(250, 255, 255);
    --theme-color:rgb(67, 197, 240);
    --dark-background: #4b4b4b;
    --dark-color: #333333;
    --transparent-color:#dbf7ff3f;
    --light-card: var(--theme-color);
    --dark-card: var(--transparent-color);
    --light-cardtext: rgb(67, 197, 240);
    --dark-cardtext: var(--light-color);
}
div.landing *{
    box-sizing: unset;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    color: #ffffff;
}

.contentt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.section1 {
    background-image: 
    radial-gradient(rgba(102, 117, 125, 0.751) 1%, transparent 3%),
    radial-gradient(rgba(102, 117, 125, 0.751) 1%, transparent 3%);
    background-position: 0px 0px, 51px 51px;
    background-size: 102px 102px;
    background-color: rgb(255, 255, 255);
    background-image: 
    radial-gradient(rgba(102, 117, 125, 0.317) 2%, transparent 3%),
    radial-gradient(rgba(102, 117, 125, 0.265) 1.5%, transparent 3%);
    background-position: 0px 0px, 51px 51px;
    background-size: 102px 102px;
    background-color: var(--dark-background);
    height: 130vh;
}

.welcome, .lab-text{
    font-size: calc(3vw + 3vh);
    font-family: 'Cascadia Code', 'Poppins Bold' ,Arial, Helvetica, sans-serif;
    text-align: center;
}

.lab-text {
    color: var(--theme-color);
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 3vw;
    padding-top: 2vw;
    padding-bottom: 10vw;
}
.button {
    width: calc(5vw + 5vh);
    height: calc(2.5vw + 2.5vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw 2vw;
    font-size: calc(1.3vw + 1.3vh);
    text-decoration: none;
    color: var(--light-color);
    background-color: var(--theme-color);
    border: 0.3vw solid var(--theme-color);
    border-radius: 0.7vw;
    transition: background-color 0.3s, border-color 0.3s;
    font-family: 'Cascadia Code', 'Poppins Bold',Arial, Helvetica, sans-serif;
}
.button:hover {
    background-color: #3598b9;
    border-color: #3598b9;
    cursor: pointer;
}
.explore {
    background-color: var(--light-color);
    color: var(--theme-color);
}
.explore:hover {
    background-color: #3598b9;
    border-color: #3598b9;  
    color: var(--light-color);
}

.content.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section2-content {
    text-align: center;
    max-width: 90vw;
    margin: 0 auto;
    padding: 2vw;
}
.section2-content h2 {
    display: inline-block;
    padding: 1vw;
    border-radius: 0.7vw;
    font-size: calc(3vw + 3vh);
    font-family: 'Cascadia Code', 'Poppins Bold',Arial, Helvetica, sans-serif;
    margin-top: 10vh;
}

.cardd {
    background-color: var(--theme-color); 
    color: white;
    padding: 3vw;
    border-radius: 0.7vw;
    margin-bottom: calc(10vw + 10vh);
}

.study-card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    font-family: "Poppins";
}

.cardd h3 {
    font-size: calc(1.3vw + 1.3vh);
}
.cardd p {
    font-size: calc(0.6vw + 1.1vh);
    font-weight: 300;
}

.study-card {
    color: var(--light-color);
    padding: 2vw;
    border-radius: 0.7vw;
    margin: 2vw 0;
    display: flex;
    align-items: center;
    box-shadow: -3px 5px 34.5px 0px rgba(0, 0, 0, 0.25);
}
  
.study-card:nth-of-type(2) {
    background: linear-gradient(88deg, var(--dark-card) 0%, rgba(132, 59, 149, 0.50) 100%);
}

.study-card:nth-of-type(3) {
    background: linear-gradient(88deg, var(--dark-card) 0%, #407EE6 100%);
}

.study-card:nth-of-type(4) {
    background: linear-gradient(88deg, var(--dark-card) 0%, #57A17D 100%);
}

.study-card:nth-of-type(5) {
    background: linear-gradient(88deg, var(--dark-card) 0%, #B08756 100%);
}

.study-card:nth-of-type(6) {
    background: linear-gradient(88deg, var(--dark-card) 0%, #9B5858 100%);
}


.study-card img {
    height: 10vw;
    max-height: 100px;
    border-radius: 50%;
    margin-right: 2vw;
}
.study-card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.study-card h4,
.study-card p {
    margin: 0;
    text-align: left;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
.study-card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.study-card h4 {
    font-size: calc(1.1vw + 1.1vh);
    margin-bottom: 0.5vw;
}
.study-card p {
    font-size: calc(0.8vw + 1vh);
}

.researchgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    font-family: 'Poppins';
}

.section3 {
    background: var(--theme-color) url('@src/assets/images/landing/bg-section3.png') center/cover;
}

.content.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0b0a0a;
}
.section3-content {
    text-align: center;
    max-width: 75vw;
    margin: 2vh 3vw;
    padding: 3vw;
    background-color: #dbf7ff3f;
    border-radius: 10px;;
}
.section3-content h2 {
    color: var(--light-color);
    display: inline-block;
    padding: 1vw;
    border-radius: 0.5vw;
    margin: 2vw;
    font-size: calc(1vw + 3vh);
    font-family: 'Cascadia Code', 'Poppins Bold',Arial, Helvetica, sans-serif;
}
.section3-content p {
    color: white;
    display: inline-block;
    padding: 0.5vw 2vw;
    border-radius: 2px;
    margin: 2vh 0;
    font-size: calc(0.75vw + 1.9vh);
    text-align: left;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    line-height: normal;
}


.section4 {
    background: var(--theme-color);
}
.content.section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0b0a0a;
}
.section4-content {
    text-align: center;
    max-width: 90vw;
    margin: 0 auto;
    padding: 2vw;
}
.section4-content h2

 {
    color: var(--light-color);
    display: inline-block;
    padding: 2vw;
    margin-bottom: 8vh;
    font-size: calc(3vw + 3vh);
    font-family: 'Cascadia Code', 'Poppins Bold',Arial, Helvetica, sans-serif;
}


.executive-card,
.administration-card,
.practicum-card,
.publicrelation-card,
.logistics-card {
    display: flex;
    justify-content: space-around;
    gap: 1.2vw;
}
.assistant-card {
    background: linear-gradient(133deg, var(--dark-card) 12%, #1C487C 95%);
    background-color: var(--theme-color); 
    box-shadow: 15px 14px 51.1px 0px var(--dark-card);
    width: 10vw;
    height:calc(23vh + 13vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    padding: 3vw 6vw;
    border-radius: 1vw;
    border: 0.3vw solid var(--light-color);
    margin-bottom: calc(8vw + 8vh);
    overflow: hidden;
}
.assistant-card img {
    height: calc(10vh + 4vw);
    object-fit: cover;
    object-position: 50% 30%;
    margin-bottom: calc(1vw + 1vh);
    padding-top: 2vw;
}
.assistant-card h3,
.assistant-card h4 {
    margin: 0vw 0vw;
}
.assistant-card h3 {
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    line-height: 1.2;
    font-size: clamp(1.3vw, calc(1vw + 1.6vh), calc(5vw + 5vh));
    width: 200%;
}
.assistant-card h4 {
    font-size: clamp(1vw, calc(0.6vw + 1vh), calc(5vw + 5vh));
    font-family: 'Poppins Light', 'Poppins Bold',Arial, Helvetica, sans-serif;
    margin-top: 0.3vw;
    margin-bottom: 1vw;
    width: 200%;
}


.social-icons {
    display: flex;
    justify-content:center;
}
.social-icons img {
    width: 2vw;
    height: 2vw;
    border-radius: 0%;
    padding: 0.4vw 0.5vw;
    padding-bottom: 0;
}
footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--light-color);
    color: var(--theme-color);
    padding: 40px;
    font-size: calc(0.7vw + 0.7vh);
}
.social-media, .address {
    text-align: left;
}
.social-media img {
    width: 3.5vw; /* Adjust the size as needed */
}

@media screen and (orientation:portrait) {
    .section1{
        height: 100vh;
    }
    .assistant-card {
        height: 25vh;
    }
    .assistant-card img {
        max-height: calc(4vh + 10vw);
    }
    .assistant-card h3 {
        font-size: clamp(0vw, calc(1vw + 1vh), calc(5vw + 5vh));
    }
    .assistant-card h4 {
        font-size: clamp(0vw, calc(0.75vw + 0.75vh), calc(5vw + 5vh));
    }
}