@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Jost:wght@700&family=Poppins:wght@700&display=swap');
$color-primary: #2feaa8;

// HELPER
.border-redx {
  border: solid 1px red;
}
.border-greenx {
  border: solid 1px green;
}
.border-bluex {
  border: solid 1px blue;
}
.redx {
  background-color: rgb(254 202 202);
}
.greenx {
  background-color: rgb(187 247 208);
}
.bluex {
  background-color: rgb(191 219 254);
}


// NAVBAR
.navbarx {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: row;
  background-color: transparent;

  .logo-wrapperx {
    height: 64px;
    width: auto;
  }
  .contentx {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    flex-direction: row;
    gap: 2rem;

    .buttonx{
      padding: 1rem 2rem;
      font-size: large;
      font-weight: bold;
      align-self: center;
      border-radius: 1rem;
      cursor: pointer;
    }
    .aboutx{
      background-color: transparent;

      a {
        color: #515151;
        text-decoration: none;
      }

      &:hover{
        background-color: rgb(229 231 235);
      }
      
    }
    .loginx{
      background-color: $color-primary;
      color: white;
      
      &:hover{
        background-color: #2bd69a;
      }
    }
  }
}

// MAIN
.mainx {
  padding: 0rem 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;

  .infox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2rem;
    .headlinex {
      .heading1x {
        font-family: 'Jost', sans-serif;
        font-size: 8rem;
        line-height: 1;
        font-weight: 700;
        
        background: -webkit-linear-gradient(#2FEAA8, #028CF3);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .paragraphx {
        font-family: 'DM Mono', monospace;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2rem;
        color: #515151;
      }
    }
    .buttonsx {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      
      .button-loginx {
        height: 64px;
        display: flex;
        padding: 0rem 3rem;
        font-size: x-large;
        font-weight: bold;
        align-items: center;
        border-radius: 1rem;
        cursor: pointer;

        background-color: $color-primary;
        color: white;
        
        &:hover{
          background-color: #2bd69a;
        }
        
      }
      .iconx {
        border: solid $color-primary 3px;
        width: 64px;
        height: 100%;
        border-radius: 1rem;
        cursor: pointer;
      }
      .instagramx {

      }
      .linex {

      }
    }
  }
  .jumbo-imagex {
    // padding: 4rem;
    width: 450px;
    height: auto;
  }
}

// MAIN
// .main-wrapper {
//   display: flex !important;
//   height: 90vh;

//   .info-content {
//     // background-color: yellow;
//     display: flex !important;
//     justify-content: flex-start !important;
//     align-items: center !important;
//     height: 100vh !important;
//     width: 60% !important;
    
//     @media (max-width: 640px) {
//       width: 100% !important;
//     }
    
//     .info-wrapper {
//       // background-color: blue;
//       display: flex !important;
//       margin-left: 6rem !important;
//       margin-right: 6rem !important;
//       flex-direction: column !important;
//       gap: 3rem !important;
      
//       @media (max-width: 640px) {
//         margin-left: 2rem !important;
//         margin-right: 2rem !important;
//         gap: 1rem !important;
//       }

//       .info-title {
//         h1 {
//           font-family: 'Jost', sans-serif;
//           font-size: 8rem !important;
//           line-height: 1 !important;
//           font-weight: 700 !important;
          
//           background: -webkit-linear-gradient(#2FEAA8, #028CF3) !important;
//           background-clip: text !important;
//           -webkit-background-clip: text !important;
//           -webkit-text-fill-color: transparent !important;
          
//           @media (max-width: 640px) {
//             font-size: 5rem !important;
//           }
//         }
//         p {
//           font-family: 'DM Mono', monospace;
//           font-weight: 400;
//           font-size: 1.75rem !important;
//           line-height: 2rem !important;
//           color: #515151 !important;
          
//           @media (max-width: 640px) {
//             font-size: 1.25rem !important;
//             line-height: 1.5rem !important;
//           }
//         }
//       }

//       .info-nav {
//         // background-color: white;
//         display: flex !important;
//         gap: 1.5rem !important;
//         align-self: flex-start !important;

//         .info-button {
//           padding: 1.25rem 2rem !important;
//           border-radius: 0.75rem !important;
//           font-size: 1.25rem !important;
//           font-weight: 700 !important;
//           color: #ffffff !important;
//           background: #2ae1af !important;
//           border: none !important;
//           height: 100%;
          
//           @media (max-width: 640px) {
//             height: fit-content;
//             padding: 1rem 1.5rem !important;
//           }
//         }
//         .btn-icon {
//           padding: 0.5rem 0.5rem !important;
//           @media (max-width: 640px) {
//             padding: 0rem 0rem !important;
//           }
//         }
//         .rounded {
//           border-radius: 0.75rem !important;
//         }
//       }
//     }
//   }

//   .image-content {
//     display: none !important;
//     justify-content: center !important;
//     align-items: center !important;
//     height: 100vh !important;

//     @media (min-width: 768px) {
//       display: flex !important;
//       width: 40% !important;
//     }

//     img {
//       object-fit: cover !important;

//       @media (min-width: 768px) {
//         height: 40% !important;
//       }
//       @media (min-width: 1024px) {
//         height: 60% !important;
//       }
//     }
//   }
// }

// BACKGROUND GRADIENT
.background-gradientx {
  position: absolute;
  top: -50px;
  right: -500px;
  z-index: -1;
  height: 1000px;
  width: auto;
}


// ABOUT US
.about {
  display: flex;
  // background-color: green;
  padding-bottom: 20rem !important;

  @media (max-width: 640px) {
    flex-direction: column;
    gap: 2rem;
  }

  .img-wrapper {
    // background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    @media (max-width: 640px) {
      width: 100%;
      height: fit-content;
    }

    img {
      width: 60%;
      @media (max-width: 640px) {
        width: 60%;
      }
    }
  }

  .info-wrapper {
    // background-color: blue;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;

    @media (max-width: 640px) {
      width: 100%;
      height: fit-content;
      padding-bottom: 8rem;
    }

    .info-content {
      // background-color: yellow;
      display: flex;
      margin-left: 4rem;
      margin-right: 6rem;
      flex-direction: column;
      gap: 1rem;
      
      @media (max-width: 640px) {
        margin-left: 4rem;
        margin-right: 4rem;
        gap: 0.5rem;
      }

      h1 {
        font-family: 'Poppins', sans-serif;   
        font-size: 3.75rem;
        line-height: 1;
        font-weight: 700;
        
        background: -webkit-linear-gradient(#2FEAA8, #028CF3) !important;
        background-clip: text !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        
        @media (max-width: 640px) {
          text-align: center;
          font-size: 3rem;
        }
      }
      p {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.75rem;
        text-align: justify;
        color: #515151;
        
        @media (max-width: 640px) {
          font-size: 1rem !important;
          line-height: 1.25rem;
        }
      }
      
    }

    img {
      height: 25%;
      position: absolute;
      right: 10%;
      bottom: 10%;

      @media (max-width: 640px) {
        height: 40%;
        bottom: 0%;
      }
    }
  }
}

// FOOTER
.footer-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #2feaa8, #028cf3);
  height: 300px;

  @media (max-width: 640px) {
    padding: 0 2rem !important;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #ffffff;
    width: 600px;
    height: fit-content;
    h3 {
      color: white;
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 700;
    }
  }
}

// **TABLET SCREEN
@media (max-width: 1024px) {
  // BACKGROUND GRADIENT
  .background-gradientx {
    position: absolute;
    top: -50px; //changes
    right: -500px; //changes
    z-index: -1;
    height: 800px; //changesd
    width: auto;
  }

  // MAIN
  .mainx {
    .infox {
      .headlinex {
        .heading1x {
          font-size: 6rem; //changes
        }
        .paragraphx {
          font-size: 1.5rem; //changes
        }
      }
      .buttonsx {
        gap: 1rem; //changes
        
        .button-loginx {
          height: 50px; //changes
          padding: 0rem 2rem; //changes
          }
        }
        .iconx {
          border: solid $color-primary 2px;//changes
          width: 50px; //changes
        }
      }
    }
    .jumbo-imagex {
      display: none; //changes
    }
  }

// **MOBILE SCREEN
@media (max-width: 640px) {
  // NAVBAR
  .navbarx {
    padding: 1rem 1rem; //changes
  
    .logo-wrapperx {
      height: 40px; //changes
    }
    .contentx {
      gap: 0.5rem; //changes
  
      .buttonx{
        padding: 0.5rem 1rem; //changes
        font-size: small; //Changes
        border-radius: 0.5rem; //changes
      }
    }
  }

  // BACKGROUND GRADIENT
  .background-gradientx {
    position: absolute;
    top: -100px; //changes
    right: -500px; //changes
    z-index: -1;
    height: 700px; //changesd
    width: auto;
  }

  // MAIN
  .mainx {
    padding: 0rem 2rem; //changes
    .infox {
      gap: 0rem; //changes
      .headlinex {
        .heading1x {
          font-size: 4rem; //changes //changes
        }
        .paragraphx {
          font-size: 1rem; //changes //changes
          line-height: 1.3rem; //changes
        }
      }
      .buttonsx {
        gap: 1rem; //changes
        
        .button-loginx {
          height: 40px; //changes //changes
          padding: 0rem 1.5rem; //changes //changes
          border-radius: 0.5rem; //changes
        }
        .iconx {
          width: 40px; //changes //changes
          border-radius: 0.5rem; //changes
        }
      }
    }
  }
}