body {
    margin: 0;
    cursor: default;
    font-family: 'Cascadia Code', sans-serif;
    overflow-x: hidden;
}

.bodytohidenav {
    overflow-x: hidden;
}

// :root{
//     --light-color:rgb(250, 255, 255);
//     --theme-color:rgb(67, 197, 240);
//     --dark-background: #4b4b4b;
//     --dark-color: #333333;
//     --transparent-color:#dbf7ff3f;
//     --light-card: var(--theme-color);
//     --dark-card: var(--transparent-color);
//     --light-cardtext: var(--theme-color);
//     --dark-cardtext: var(--light-color);
// }

nav.navbar {
    overflow: visible;
    // background: #effcff00;
    position: fixed;
    top: 0;
    z-index: 100;
    border-radius: 5%;
    padding: 0;
}

nav section {
    padding: 1vh 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(30px);
    width: 90vw;
}

nav section .fa-bars {
    display: none;
}

nav section img {
    height: 4vw;
}

nav section .close {
    display: none;
}

nav section a {
    display: block;
    color: #626262;
    text-align: center;
    padding: 1vw 1vw;
    text-decoration: none;
    border-radius: 5px;
    font-size: calc(0.75vh + 1vw);
    font-family: 'Cascadia Code', sans-serif;
}

nav section a:hover {
    background-color: rgba(67, 198, 240, 0.7);
    color: rgb(243, 255, 254);
    padding: 1vw 1vw;
    transition: 0.25s;
}

nav section a.logo-nav:hover {
    background-color: rgba(67, 197, 240, 0.136);
    transition: 0.25s;
}

nav section div {
    display: flex;
    gap: 0.8vw;
}

@media screen and (orientation:portrait) {
    nav section {
        position:absolute;
        top:0;
        right:-100vw;
        width: calc(40vh - 30vw);
        height: 50vh;
        padding-bottom: 50vh;
        padding-top: 5vh;
        flex-direction: column;
        gap:5vh;
        transition: 0.5s ease-in-out;
    }
    nav section .fa-bars{
        position: absolute;
        display: block;
        color:#827886;
        margin: 10px;
        font-size: calc(2vh + 2vw);
        top:5vh;
        right:202.5vw;
        cursor:pointer;
    }
    nav section img {
        height: 10vh;
    }
    nav section .close{
        display: block;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        right:calc(37.5vh - 20vw);
    }
    nav section div{
        flex-direction: column;
        gap:5vh;
    }
    nav section a {
        font-size: calc(2vh + 0.75vw);
        text-align: right;
    }
    nav section a:hover {
        background-color: unset;
        color: #626262;
        padding: 1vw 1vw;
        transition: 0.25s;
    }
}

// .dark-card{
//     background-color: var(--dark-color);
// }
// .light-card{
//     background-color: var(--light-card);
// }
// .dark-card-text{
//     color: var(--dark-cardtext);
// }
// .light-card-text{
//     color: var(--light-cardtext);
// }
// .light-text-reverse{
//     color: var(--light-color);
// }
// .dark-text-reverse{
//     color: var(--dark-color);
// }
// .light-background-reverse{
//     background-color: var(--dark-background);
// }
// .dark-background-reverse{
//     background-color: var(--light-color);
// }
// .light-text{
//     color: var(--dark-color);
// }
// .dark-text{
//     color: var(--light-color);
// }
// .theme-text{
//     color:var(--theme-color);
// }
// .light-background{
//     background-color: var(--light-color);
// }
// .dark-background{
//     background-color: var(--dark-background);
// }
// .theme-background{
//     background-color: var(--theme-color);
// }