.input-group-field-number {
    width: 50px;
    border: none;
    border-radius: 8px;
}

.PdfContainer {
    width: 100%;
    height: 100vh;
}

.next-state {
    display: flex;
    justify-content: space-between;

    .next-state-button {
        width: fit-content;
    }
}