/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
// Module Card

.card {
	background-color: #fff;
}

pre.bash {
	background-color: #252525;
	color: white;
	padding: 20px;
	border-top: 15px solid #5c5c5c;
	border-radius: 10px;
	white-space: normal;
}

.card-student {
	margin-bottom: 1rem;
}

.card-overlay-jurnal {
	padding: 10px;
	margin-bottom: 1rem;

	li {
		line-height: 1.5;
		/* Set line height for better readability */
	}

	.title-overlay {
		color: #4dd7be;
	}

	/* INFO */
	h1 {
		color: #d5546d;
		font-size: 18px;
		font-weight: bold;
		margin: 10px;
		text-align: center;
	}

	/* SUBMIT */
	.container {
		.col {
			padding: 1rem;

			h3 {
				font-size: 18px;
			}

			p {
				margin: 0;
				font-size: 13px;

				b {
					font-weight: bold;
				}
			}
		}

		.col-12.col-sm-6 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			gap: 0.5rem;

			.button-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 0.5rem;

				button {
					width: 150px;
					font-weight: bold;
				}
			}
		}
	}
}

.rdt_TableCell {
	height: auto !important;
}

.dropzone {
	display: flex;
	cursor: pointer;
	min-height: 200px;
	align-items: "center";
	justify-content: center;
	border: 1px dashed;
	border-color: #4dd7be;
	border-radius: 0.357rem;
}